* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

#box {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    width: 1140px;
    margin: 0 auto;
}

/* 头部的样式 */
.header {
    height: 80px;
    background-color: aquamarine;
    background: url("/static/common/img/head.png") no-repeat;
    background-size: 100%;
}

/* 头部左边导航栏 */
.header .header-left li {
    height: 40px;
    width: 80px;
    float: left;
    text-align: center;
    margin-left: 100px;
    margin-top: 19px;
    background-color: #ED7D31;
    border: 1px solid #ED7D31;
    border-radius: 20px;
}

.header .header-left li a {
    display: block;
    height: 40px;
    width: 80px;
    line-height: 40px;
    color: darkslategrey;
}

.header .header-left li:hover {
    background-color: #ED7D31;
}

.header .header-left li:nth-child(1) {
    margin-left: 0;
}

.header .header-left li:last-child {
    background-color: gainsboro;
}

.header .header-left li:hover {
    background-color: #f0f1f2;
}

.header .header-right {
    float: right;
    margin-top: 17px;
}

.header .header-right .headimg {
    width: 45px;
    border-radius: 50%;
    cursor: pointer;
    float: right;
    margin-right: 50px;
}

.header .header-right .head-img {
    position: absolute;
}

.header .header-right .head-mess-some {
    border-radius: 15px;
    width: 90px;
    text-align: center;
    background-color: #fff;
    height: 75px;
    display: none;
    left: -22px;
    margin-top: 48px;
    position: relative;
    z-index: 333;
}

.header .header-right .head-mess-sub {
    position: relative;
    z-index: 333;
    border-radius: 15px;
    width: 90px;
    text-align: center;
    background-color: #fff;
    height: 75px;
    display: none;
    left: -22px;
    margin-top: 48px;
}

.header .header-right li:first-child a {
    margin-top: 5px;
}

.header .header-right li a {
    display: inline-block;
    width: 80px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #636060;
    border-radius: 10px;
}

.header .header-right li a:hover {
    background-color: coral;
}

/* 底部样式 */
.bottom {
    width: 100%;
    background-color: #515151;
}

.bottom .bannerd {
    width: 1140px;
    margin: 0 auto;
}

.bottom .bannerd .bannerdt {
    height: 127px;
    width: 100%;
    border-bottom: 1px solid #5f5f5f;
}

.bottom .bannerd .bannerdt .banttt {
    width: 300px;
    height: 55px;
    float: left;
    margin-left: 60px;
    margin-top: 37px;
}

.bottom .bannerd .bannerdt .bant1 img {
    margin-top: -20px;
    border-radius: 50px;
}

.bottom .bannerd .bannerdt .bant2 li {
    float: left;
    font-size: 14px;
    color: #fff;
    font-size: 14px;
    margin-left: 10px;
}

.bottom .bannerd .bannerdt .bant2 li:first-child {
    margin-left: 0;
}

.bottom .bannerd .bannerdt .bant2 a {
    color: #fff;
    margin-right: 10px;
}

.bottom .bannerd .bannerdt .bant2 li:last-child a {
    margin-right: 0;
}

.bottom .bannerd .bannerdt .bant2 .shenhe {
    float: left;
    font-size: 12px;
    color: #999;
    width: 300px;
    text-align: center;
    margin-top: 10px;
}

.bottom .bannerd .bannerdt .bant2 .shenhe span {
    margin-right: 23px;
}

.bottom .bannerd .bannerdt .bant3 {
    line-height: 55px;
    margin-left: 120px;
}

.bottom .bannerd .bannerdt .bant3 .guanwo {
    float: left;
    color: #fff;
}

.bottom .bannerd .bannerdt .bant3 .guanzhu img {
    width: 127px;
    margin-top: -35px;
    margin-left: 40px;
}

.bottom .bannerd .bannerdb {
    height: 73px;
    width: 100%;
    font-size: 12px;
    color: #999;
    margin-top: 16px;
}

.bottom .bannerd .bannerdb .banndbt a {
    margin-right: 18px;
    color: #999;
}

.bottom .bannerd .bannerdb .banndbt .zzz {
    float: left;
    margin-left: 60px;
}

.bottom .bannerd .bannerdb .banndbt li {
    float: left;
    margin-left: 18px;
}

/* 登录注册相关展示 */
#bgsub {
    width: 100%;
    height: 100%;
    background-color: #E0D9D3;
    opacity: 0.9;
    z-index: 999;
    left: 0%;
    top: 0%;
    position: fixed;
    display: none;
}

#bgsub .sub-index {
    position: absolute;
    width: 366px;
    height: 290px;
    background-color: #fff;
    left: 50%;
    top: 50%;
    margin-left: -183px;
    margin-top: -145px;
    border-radius: 50px;
    box-shadow: 5px 5px 5px #888888;
}

#bgsub .button-close {
    float: right;
    width: 45px;
    height: 45px;
    background-color: rgb(190, 143, 143);
    border-radius: 50%;
    text-align: center;
    line-height: 45px;
    cursor: pointer;
    box-shadow: 2px 2px 2px #888888;
}

#bgsub .sub-index .sub-head {
    width: 98px;
    margin: 10px auto 0px;
    font-size: 20px;
    font-weight: bold;
    color: midnightblue;
}

#bgsub .sub-index .sub-mid {
    margin-left: 70px;
    margin-top: 33px;
    font-size: 18px;
    color: saddlebrown;
}

#bgsub .sub-index .sub-mid p {
    margin-top: 20px;
}

#bgsub .sub-index .sub-mid .inputsub {
    width: 180px;
    height: 25px;
    background: #10101000;
    border: 1px solid #5f4242;
    border-radius: 7px;
    outline: 0;
}

#bgsub .sub-index .sub-bottom {
    text-align: center;
    margin-top: 30px;
}

#bgsub .sub-index .sub-bottom .submitgo {
    border-radius: 25px;
    background-color: #05D9A9;
    font-size: 15px;
    box-shadow: 3px 5px 5px #888888;
    height: 35px;
    line-height: 35px;
    cursor: pointer;
    width: 150px;
    margin: 10px auto;
}

#bgsub .sub-index .sub-bottom .submitgo:hover {
    background-color: #2C95CF;
}

#bgsub .sub-index .sub-bottom .submitfog {
    margin-top: 15px;
    margin: 10px auto 0px;
    font-size: 12px;
    cursor: pointer;
}

/* 首页显示每一个的细节相关 */
#bgdet {
    width: 100%;
    height: 100%;
    background-color: #E0D9D3;
    opacity: 0.95;
    z-index: 999;
    left: 0%;
    top: 0%;
    position: fixed;
    display: none;
}

#bgdet .det-index {
    position: absolute;
    width: 950px;
    height: 700px;
    background-color: #fff;
    left: 50%;
    top: 50%;
    margin-left: -475px;
    margin-top: -350px;
    border-radius: 50px;
    box-shadow: 5px 5px 5px #888888;
}

#bgdet .button-close-det {
    float: right;
    width: 45px;
    height: 45px;
    background-color: rgb(190, 143, 143);
    border-radius: 50%;
    text-align: center;
    line-height: 45px;
    cursor: pointer;
    box-shadow: 2px 2px 2px #888888;
}

/* 首页显示细节头部 */
#bgdet .det-index .det-head {
    width: 80%;
    text-align: center;
    margin: 10px auto 0px;
    font-size: 16px;
    color: midnightblue;
}

/* 首页显示细节的主要部分 */
#bgdet .det-index .det-mid {
    width: 95%;
    height: 90%;
    /* background-color: bisque; */
    margin: 10px auto;
    margin-top: 20px;
    border-radius: 20px;
}

/* 首页显示细节主要部分的左边 */
#bgdet .det-index .det-mid .det-mid-left {
    float: left;
    width: 65%;
    height: 97%;
    /* background-color: rgb(43, 109, 22); */
    margin: 10px 5px;
    border-radius: 5px;
}



#bgdet .det-index .det-mid .det-mid-left .det-mid-text {
    /* background-color: azure; */
    width: 590px;
    height: 250px;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 17px;
    line-height: 28px;
}

#bgdet .det-index .det-mid .det-mid-left .det-mid-comment {
    margin-top: 50px;
    /* background-color: yellowgreen; */
}

#bgdet .det-index .det-mid .det-mid-left .det-mid-comment #text-comments {
    width: 575px;
    height: 95px;
    border-radius: 10px;
    margin-left: 10px;
    resize: none;
}

#bgdet .det-index .det-mid .det-mid-left .det-mid-comment .goComment {
    float: right;
    margin-right: 30px;
    border-radius: 20px;
    width: 75px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border: 1px solid;
    cursor: pointer;
}

#bgdet .det-index .det-mid .det-mid-left .det-mid-comment .goComment:hover {
    background-color: #ED7D31;
}

/* 首页显示细节主要部分的右边 */
#bgdet .det-index .det-mid .det-mid-right {
    float: right;
    width: 30%;
    height: 97%;
    background-color: whitesmoke;
    margin: 10px 5px;
    border-radius: 7px;
    box-shadow: 1px 1px 1px rgb(131, 126, 126);
    overflow: auto;
}

/* #bgdet .det-index .det-mid .det-mid-right{
    width: 200px;
    height: 30px;
    background-color: #ED7D31;
    
} */
#bgdet .det-index .det-mid .det-mid-right .det-mid-right-comments {
    width: 250px;
    /* height: 30px; */
    margin: 10px 5px;
    background-color: #da600e29;
    border-radius: 5px;
    padding: 2px 2px;
    font-size: 14px;
}

#bgdet .det-index .det-mid .det-mid-right .det-mid-right-comments .comment-comment {
    width: 100%;
    word-break: break-all;
    word-wrap: break-word;
    margin-left: 10px;
}
#bgdet .det-index .det-mid .det-mid-right .ardshowmore {
    width: 220px;
    height: 30px;
    margin: 20px auto;
    text-align: center;
    background-color: #F0F8FF;
    margin-top: 10px;
    line-height: 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgb(131, 126, 126);
    cursor: pointer;
}
/* 评论显示点赞回复和删除 */
#bgdet .det-index .det-mid .det-mid-right .det-mid-right-comments .comment-san {
    margin-top: 5px;
    width: 200px;
    margin-left: 20px;
}
#bgdet .det-index .det-mid .det-mid-right .det-mid-right-comments .comment-san .comsan-like {
    cursor: pointer;
    color: #5f5f5f;
}
#bgdet .det-index .det-mid .det-mid-right .det-mid-right-comments .comment-san .comsan-reply {
    cursor: pointer;
    margin-left: 10px;
    color: #5f5f5f;
}
#bgdet .det-index .det-mid .det-mid-right .det-mid-right-comments .comment-san .comsan-del {
    cursor: pointer;
    margin-left: 10px;
    color: #5f5f5f;
}



/* 评论回复 */
#bgdet .det-index .det-mid .det-mid-right .det-mid-right-comments .comment-replys {
    width: 100%;
    word-break: break-all;
    word-wrap: break-word;
    margin-left: 20px;
}

#bgdet .det-index .det-mid .det-mid-right .det-mid-right-comments .comment-replys .comment-reply-text {
    width: 190px;
    word-break: break-all;
    word-wrap: break-word;
    margin-left: 24px;
}