* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

#abox {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    width: 1140px;
    margin: 0 auto;
    height: 1000px;
    ;
    /* background-color: rgb(231, 215, 250); */
}

#abox .atop .header {
    height: 65px;
}

#abox .amid {
    width: 100%;
    height: 800px;
    /* background-color: coral; */
}

#abox .atop .header .header-left {
    display: none;
}

#abox .atop .header .header-right .head-mess-some {
    /* display: block; */
    height: 32px;
}

#abox .atop .header .header-right .selfcenter {
    display: none;
}

/* 基础的模型左边css */
#abox .amid .amid-left {
    float: left;
    height: 760px;
    width: 220px;
    background-color: beige;
    box-shadow: 5px 5px 5px #503636;
    margin: 10px 5px 10px 10px;
    border-radius: 5px;
    font-size: 15px;
}

#abox .amid .amid-left .amid-left-top {
    width: 90%;
    height: 230px;
    margin: 10px 10px;
    border-radius: 5px;
    /* background-color: #9e7b7b; */
    /* box-shadow: 1px 1px 1px #888888; */
}

#abox .amid .amid-left .amid-left-top .img-tou {
    width: 50%;
    border-radius: 50%;
    cursor: pointer;
}

#abox .amid .amid-left .amid-left-top .left-top-mess {
    margin-top: 10px;
    line-height: 26px;
    text-align: left;
    margin-left: 45px;
}

#abox .amid .amid-left .amid-left-content {
    width: 90%;
    height: 480px;
    margin: 5px 10px;
    border-radius: 5px;
    /* background-color: #6d3737; */
    box-shadow: 1px 1px 1px #888888;
}

#abox .amid .amid-left .amid-left-content .amid-left-titles {
    width: 100px;
    height: 30px;
    /* background-color: burlywood; */
    line-height: 30px;
    margin: 0 auto;
}

#abox .amid .amid-left .amid-left-content .amid-left-lis {
    /* background-color: aqua; */
    width: 80%;
    height: 400px;
    margin: 10px auto;
    border-radius: 5px;
}

#abox .amid .amid-left .amid-left-content .amid-left-lis p {
    height: 30px;
    background-color: beige;
    cursor: pointer;
    margin-top: 10px;
    line-height: 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #888888;
    /* font-size: 15px; */
}

#abox .amid .amid-left .amid-left-content .amid-left-lis p:hover {
    background-color: antiquewhite;
}

#abox .amid .amid-left .amid-left-content .outshou {
    height: 30px;
    background-color: #6f6f40;
    cursor: pointer;
    color: aliceblue;
    line-height: 30px;
    border-radius: 10px;
    margin: 10px 10px;
    box-shadow: 1px 1px 1px #888888;
}

/* 基础的模型右边css */
#abox .amid .amid-right {
    float: right;
    height: 760px;
    width: 895px;
    background-color: rgba(220, 195, 178, 0.18);
    box-shadow: 5px 5px 5px #9e7b7b;
    margin: 10px 10px 10px 0px;
    border-radius: 5px;
}

/* tj.html的样式 */
#abox .amid .amid-right .tjshouye .tj-top {
    width: 98%;
    height: 139px;
    margin: 5px auto;
    border-radius: 5px;
    /* background-color: #503636; */
    box-shadow: 1px 1px 1px #888888;
}

#abox .amid .amid-right .tjshouye .tj-top .tj-top-title {
    width: 130px;
    /* height: 100px; */
    /* background-color: #243468; */
    font-size: 20px;
    font-weight: 600;
    color: #97b9ae;
}

#abox .amid .amid-right .tjshouye .tj-top .tj-top-ls {
    /* width: 100px; */
    /* height: 100px; */
    /* background-color: #481153; */
}

#abox .amid .amid-right .tjshouye .tj-top .tj-top-ls li {
    width: 20%;
    height: 75px;
    background-color: #d7dcde80;
    float: left;
    margin-left: 85px;
    line-height: 75px;
    font-size: 28px;
    text-align: center;
    border-radius: 25px;
    margin-top: 10px;
    box-shadow: 5px 5px 5px #888888;
}

#abox .amid .amid-right .tjshouye .tj-mid {
    width: 100px;
    height: 200px;
    background-color: #2e5f6e;
}

#abox .amid .amid-right .tjshouye .tj-foot {
    width: 100px;
    height: 200px;
    background-color: #6e3a75;
}

/* 个人资料相关的css */
#abox .amid .amid-right .zlshow .zlcontent,
.passcontent {
    font-size: 18px;
    text-align: left;
    margin-left: 50px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #888888;
    margin-top: 15px;
    width: 90%;
}

#abox .amid .amid-right .zlshow .passcontent p {
    margin-top: 15px;
    margin-bottom: 15px;

}

#abox .amid .amid-right .zlshow .zlcontent p {
    margin-top: 15px;
    margin-bottom: 15px;
}

#abox .amid .amid-right .zlshow .changecontent {
    margin-left: 20px;
}

#abox .amid .amid-right .zlshow .changesubmit {
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 15px;
    /* border: 1px solid red; */
    font-size: 14px;
    background-color: rgb(201, 130, 73);
    display: inline-block;
    cursor: pointer;
    margin-bottom: 10px;
}

#abox .amid .amid-right .zlshow .changeresume {
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 15px;
    /* border: 1px solid blue; */
    font-size: 14px;
    background-color: rgb(201, 130, 73);
    display: inline-block;
    cursor: pointer;
    margin-bottom: 10px;
}

#abox .amid .amid-right .zlshow .changesubmit:hover {
    background-color: azure;
}

#abox .amid .amid-right .zlshow .changeresume:hover {
    background-color: azure;
}

#abox .amid .amid-right .zlshow input {
    height: 20px;
    width: 200px;
    border-radius: 5px;
    margin-left: 15px;
}

/* 文章相关css*/
#abox .amid .amid-right .ambk {
    width: 98%;
    height: 740px;
    /* background-color: #503636; */
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #888888;
}

#abox .amid .amid-right .ambk .amhead {
    /* background-color: #2e5f6e; */
    margin-bottom: 10px;
    height: 65px;
}

#abox .amid .amid-right .ambk .amhead .amhead-top {
    font-size: 20px;
    margin-bottom: 15px;
}

#abox .amid .amid-right .ambk .amhead .amhead-left {
    float: left;
    margin-left: 20px;
}

#abox .amid .amid-right .ambk .amhead .amhead-left span {
    margin-left: 5px;
    display: inline-block;
    width: 65px;
    height: 25px;
    background-color: #2196F3;
    color: #fff;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

#abox .amid .amid-right .ambk .amhead .amhead-left span:last-child {
    background-color: #F57C00;
}

#abox .amid .amid-right .ambk .amhead .amhead-mid {
    float: left;
    margin-left: 25px;
}

#abox .amid .amid-right .ambk .amhead .amhead-mid span {
    margin-left: 5px;
    display: inline-block;
    width: 50px;
    height: 25px;
    background-color: #2196F3;
    color: #fff;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

#abox .amid .amid-right .ambk .amhead .amhead-right {
    float: right;
    margin-right: 15px;
}

#abox .amid .amid-right .ambk .amhead .amhead-right input {
    width: 180px;
    height: 22px;
    border-radius: 5px;
    border: 1px solid #D4D7DE;
}

#abox .amid .amid-right .ambk .amhead .amhead-right span {
    display: inline-block;
    width: 65px;
    height: 25px;
    background-color: #2196F3;
    color: #fff;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}



#abox .amid .amid-right .ambk .amcontents td,
th {
    border: solid #888888;
    border-width: 0px 1px 1px 0px;
    /* padding-left: 10px; */
    height: 35px;
    line-height: 35px;
}

#abox .amid .amid-right .ambk .amcontents th:first-child {
    width: 20px;
}

#abox .amid .amid-right .ambk .amcontents th:nth-child(3) {
    width: 70px;
}

#abox .amid .amid-right .ambk .amcontents th:nth-child(4) {
    width: 70px;
}

#abox .amid .amid-right .ambk .amcontents th:nth-child(5) {
    width: 70px;
}

#abox .amid .amid-right .ambk .amcontents th:nth-child(6) {
    width: 70px;
}

#abox .amid .amid-right .ambk .amcontents th:nth-child(7) {
    width: 70px;
}

#abox .amid .amid-right .ambk .amcontents th:nth-child(8) {
    width: 70px;
}

#abox .amid .amid-right .ambk .amcontents th:last-child {
    width: 110px;
}

#abox .amid .amid-right .ambk .amcontents td {
    font-size: 14px;

}

#abox .amid .amid-right .ambk .amcontents td span {
    display: inline-block;
    width: 46px;
    height: 22px;
    /* margin-left: 10px; */
    line-height: 22px;
    font-size: 13px;
    text-align: center;
    background-color: #2196F3;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;

}

#abox .amid .amid-right .ambk .amcontents td span:last-child {
    margin-left: 10px;
    background-color: #F57C00;
}

#abox .amid .amid-right .ambk .amcontents tfoot {}

#abox .amid .amid-right .ambk .amcontents table {
    border: solid #888888;
    border-width: 1px 0px 0px 1px;
    text-align: center;
    width: 865px;
}

/* 分页的样式--重写 */
#abox .amid .amid-right .ambk .amcontents tfoot td .all-style a:hover {
    background: #F57C00;
}

#abox .amid .amid-right .ambk .amcontents tfoot td .all-style {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 13px;
    float: right;
}

#abox .amid .amid-right .ambk .amcontents tfoot td .all-style a {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 6px;
    border: 1px solid rgb(129, 123, 123);
    color: rgb(129, 123, 123);
    margin-left: 10px;
}

#abox .amid .amid-right .ambk .amcontents tfoot td .all-style span {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 6px;
    border: 1px solid rgb(129, 123, 123);
    color: rgb(129, 123, 123);
    margin-left: 10px;
    background-color: #F9F4F1;
}

#abox .amid .amid-right .ambk .amcontents tfoot td .all-style .active {
    background-color: #2196F3;
}